version: '3'
services:
  top.api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: top-api
    restart: always
    ports:
      - 3000:3000
    volumes:
      - ./.env:/opt/app/.env